config
*.tar.bz2
*.tar.gz
*.zip
.DS_Store
.env
.env.*
!.env.example
!.env.nosecret-example
!.env.nosecret-dev
!.env.nosecret-prod

proxy_config/*
!proxy_config/.gitkeep

nginx_config/*
!nginx_config/.gitkeep

backup/*

data/*
!data/.gitkeep