services:
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
    # Disabling AOF for performance reasons as we don't need durability for caching
    # entrypoint: redis-server --appendonly yes
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.redis
  impresso-socks-proxy:
    image: kroniak/ssh-client
    container_name: impresso-socks-proxy
    restart: always
    profiles:
      - with_proxy
    volumes:
      - ./proxy_config:/root/.ssh
    ports:
      - 1080:1080
    command: ssh -N socks-proxy
  impresso-middle-layer:
    image: impresso/impresso-middle-layer:${IMPRESSO_MIDDLE_LAYER_TAG:-latest}
    restart: always
    container_name: impresso-middle-layer
    env_file:
      - "./.env"
      - "./.env.nosecret"
    environment:
      NODE_ENV: docker
      # Uncomment if you want to debug the API
      # DEBUG: 'impresso*'
    depends_on:
      - redis
      - impresso-celery
    # ports:
    #   - 3030:3030
    volumes:
      - ./config/impresso-middle-layer.json:/impresso-middle-layer/config/docker.json
      - middle-layer-cache:/impresso-middle-layer/data
      - impresso-user-media:/impresso-middle-layer/user-media:z
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.middle-layer
  impresso-middle-layer-public:
    image: impresso/impresso-middle-layer:${IMPRESSO_MIDDLE_LAYER_TAG:-latest}
    container_name: impresso-middle-layer-public
    restart: always
    depends_on:
      - redis
      - impresso-middle-layer
    volumes:
      - ./config/impresso-middle-layer.json:/impresso-middle-layer/config/docker.json
      - ./config/impresso-middle-layer-public.json:/impresso-middle-layer/config/api-docker.json
      - middle-layer-cache:/impresso-middle-layer/data
      - impresso-user-media:/impresso-middle-layer/user-media:z
    env_file:
      - "./.env"
      - "./.env.nosecret"
    environment:
      NODE_ENV: docker
      # Setting host to API allows us to load the api.json config file on top of the docker.json
      # file to override only the API related settings.
      HOST: api
      # Uncomment if you want to debug the API
      # DEBUG: 'impresso*'
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.middle-layer-public
  impresso-user-admin:
    image: impresso/impresso-user-admin:${IMPRESSO_USER_ADMIN_TAG:-latest}
    restart: always
    container_name: impresso-user-admin
    env_file:
      - "./.env"
      - "./.env.nosecret"
    environment:
      ENV: docker
    depends_on:
      - redis
    volumes:
      - ./config/impresso-user-admin.env:/impresso-user-admin/.docker.env
      - ./data/impresso-user-admin/logs:/impresso-user-admin/logs:z
    command: python ./manage.py runserver 0.0.0.0:8000
    # ports:
    # - 8088:8000
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.user-admin
  impresso-celery:
    image: impresso/impresso-user-admin:${IMPRESSO_USER_ADMIN_TAG:-latest}
    container_name: impresso-celery
    restart: always
    env_file:
      - "./.env"
      - "./.env.nosecret"
    environment:
      ENV: docker
    depends_on:
      - redis
    volumes:
      - ./config/impresso-user-admin.env:/impresso-user-admin/.docker.env
      - impresso-user-media:/impresso-user-admin/media:z
      - ./data/impresso-user-admin/logs:/impresso-user-admin/logs:z
    command: celery -A impresso worker -l info
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.celery
  impresso-recsys:
    image: impresso/impresso-recsys:${IMPRESSO_RECSYS_TAG:-latest}
    container_name: impresso-recsys
    restart: always
    env_file:
      - "./.env"
      - "./.env.nosecret"
    environment:
      DJANGO_SETTINGS_MODULE: impresso_recsys.docker_settings
    expose:
      - "8000"
    volumes:
      - ./config/recsys_config.py:/app/impresso_recsys/docker_settings.py
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.recsys
  impresso-barista:
    image: impresso/impresso-barista:${IMPRESSO_BARISTA_TAG:-latest}
    container_name: impresso-barista
    restart: always
    profiles:
      - barista
    expose:
      - "8000"
    environment:
      IML_URL: http://impresso-middle-layer:3030
      IML_PATH: socket.io
    env_file:
      - "./.env"
      - "./.env.nosecret"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        fluentd-async: "true"
        tag: impresso.barista
  auth-service:
    image: impresso/impresso-content-auth:${IMPRESSO_AUTH_SERVICE_TAG:-latest}
    container_name: impresso-auth-service
    command: ["python", "-m", "impresso_content_auth.main", "--server"]
    env_file:
      - "./.env"
      - "./.env.nosecret"
    environment:
      PORT: 8087
      JWT_SECRET: ${AUTH_SECRET_IML}
      SOLR_BASE_URL: ${SOLR_BASE_URL}
      SOLR_USERNAME: ${SOLR_READER_USERNAME}
      SOLR_PASSWORD: ${SOLR_READER_PASSWORD}
      SOLR_CONTENT_ITEM_COLLECTION: ${SOLR_CONTENT_ITEM_INDEX}
      LOG_LEVEL: ${AUTH_SERVICE_LOG_LEVEL:-INFO}
      REDIS_URL: redis://redis:6379/0
    ports:
      - "8087:8087"
  impresso-frontend:
    image: impresso/impresso-frontend:${IMPRESSO_FRONTEND_TAG}
    container_name: impresso-frontend
    volumes:
      - frontend-app-files:/impresso-frontend-files
    # Every time impresso-frontend container launches just copy static files
    # from the files directory in the container to the mounted `frontend-app-files`
    # directory which is also mounted to `nginx`. This is where `nginx` will be
    # looking for these files. Also remove the old files before copying the new ones.
    command: >
      /bin/sh -c "rm -rf /impresso-frontend-files/* &&
                  echo 'Files in /impresso-frontend :' &&
                  ls -lat /impresso-frontend/ &&
                  cp -r /impresso-frontend/* /impresso-frontend-files/ &&
                  echo 'Files in /impresso-frontend-files :' &&
                  ls -lat /impresso-frontend-files/"
  impresso-datalab:
    image: impresso/impresso-datalab:${IMPRESSO_DATALAB_TAG:-latest}
    container_name: impresso-datalab
    volumes:
      - datalab-app-files:/impresso-datalab-files
    command: >
      /bin/sh -c "rm -rf /impresso-datalab-files/* &&
                  echo 'Files in /app :' &&
                  ls -lat /app/ &&
                  cp -r /app/* /impresso-datalab-files/ &&
                  echo 'Files in /impresso-datalab-files/* :' &&
                  ls -lat /impresso-datalab-files/"
  impresso-github-io-v1:
    image: impresso/impresso.github.io:v1.0.0
    volumes:
      - impresso-github-io-v1-files:/impresso.github.io-v1.0.0:z
    command: >
      /bin/sh -c "echo 'Files in /impresso.github.io-v1.0.0/:' && ls -lat /impresso.github.io-v1.0.0/"
  nginx:
    image: openresty/openresty:alpine
    container_name: impresso-nginx
    restart: always
    ports:
      - "${NGINX_PORT:-80}:80"
    depends_on:
      - impresso-middle-layer
      - impresso-user-admin
      - impresso-frontend
    volumes:
      - ./config/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./scripts/body_filter.lua:/usr/local/openresty/nginx/scripts/body_filter.lua:ro
      - ./scripts/header_filter.lua:/usr/local/openresty/nginx/scripts/header_filter.lua:ro
      - frontend-app-files:/opt/impresso-frontend
      - datalab-app-files:/opt/impresso-datalab
      - impresso-user-media:/opt/impresso-user-media
      - impresso-github-io-v1-files:/opt/impresso-github-io-v1
      - iiif-widget-app-files:/opt/impresso-iiif-widget
      - ./scripts/nginx-healthcheck.sh:/tmp/healthcheck.sh
    # Uncomment the line below if nginx crashes because of incorrect configuration
    # This will make nginx print debug info
    # command: [nginx-debug, '-g', 'daemon off;']
    # Run healthcheck script
    env_file:
      - "./.env"
    healthcheck:
      test: "sh /tmp/healthcheck.sh"
      timeout: 4s
      retries: 1
    labels:
      - "com.centurylinklabs.watchtower.depends-on=impresso-recsys,impresso-user-admin,impresso-middle-layer-public,impresso-middle-layer"
  fluentd:
    container_name: impresso-fluentd
    restart: always
    build: ./docker/fluentd
    volumes:
      - ./docker/fluentd/configuration:/fluentd/etc
    environment:
      MATOMO_DOMAIN: ${MATOMO_DOMAIN}
      MATOMO_ERROR_USER_ID: ${MATOMO_ERROR_USER_ID}
      SLACK_ERRORS_WEBHOOK_URL: ${SLACK_ERRORS_WEBHOOK_URL}
      SLACK_FEEDBACK_WEBHOOK_URL: ${SLACK_FEEDBACK_WEBHOOK_URL}
    ports:
      - "24224:24224"
      - "24224:24224/udp"
volumes:
  frontend-app-files:
  iiif-widget-app-files:
  redis-data:
  impresso-user-media:
  middle-layer-cache:
  impresso-github-io-v1-files:
  datalab-app-files:
